# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
.venv/

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Builds
dist/
build/
