# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
.venv/

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Builds
dist/
build/

#Base de Datos
backend/app/db/*.db
# Base de datos en cualquier ubicación
*.db
*.sqlite
*.sqlite3

# Entorno virtual (por si acaso)
venv/
env/